body {
    margin: 0;
    padding: 0;
    font-family: 'Fauna One', serif;
    background-color: black;
}

hr {
    width: 60%;
    border: 0;
    border-top: 2px solid #63CCFF;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-right: 100px;

}

.hrLeft{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.hrRight{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
.socialTop {
    display: flex;
}

.top>img {
    width: 2.75vw;
}

header>h1 {
    margin-left: 25px;
}

.container {
    position: relative;
    width: 18vw;
}

.img {
    width: 18vw;
    padding: 0;
    margin: 0;
}

.button {
    margin: 25px;
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 15px 0;
    font-size: 14px;
    background-color: #63CCFF;
    font-weight: 700;
    color: white;
    border: 0;
    border: 1px solid white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .08);
    cursor: pointer;
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.button:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, .16);
    transform: translate(0, -5px);
}

a {
    text-decoration: none;
    color: white;
}

nav {
    margin-right: 10px;
}

header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.088);
    color: white;
    position: fixed;
    margin-bottom: 100px;
    box-shadow: 0 0 5px 0 gray;
}

.intro {
    height: 80vh;
    width: 100vw;
    background: url("nintiwav.png");
    background-size: cover;
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
    background-position-x: center;
    color: white;
    font-size: 1.5em;
}

h3 > span {
    color: white;
    font-size: 1.5em;
    /* font-family: 'Londrina Outline', cursive; */
    text-shadow: 0 0 1px #000082;
}
.introInfo {
    height: 35vh;
    width: 50vw;
    background-color: rgba(4, 4, 49, 0.65);
    border-radius: 4px;
    margin-left: 25px;
    padding: 25px;
    color: white;
    text-shadow: 0 0 1px #000082;
    align-items: center;
}
.sale-button-div {
    background-color: rgba(4, 4, 49, 0.65);
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    :hover{
        background-color: #fd26ad;
        cursor: pointer;
    }
}
.sale-button-div> h3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.projects {
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Handlee', cursive;

}
.projectRight{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-top: 50px;
    margin-bottom: 50px;
}
.projectLeft{
    justify-content: space-between;
    display: flex;
    width: 60vw;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pitch{
    width: 75%;
    font-size: 1.5em;
}

.projectPitchRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.projectPitchLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.experience{
    margin-top: 75px;
    width: 30vw;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.088);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.likes {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.experience{
    margin-top: 100px;
}

.pics {
    display: flex;
    flex-direction: column;
}

.sales-button{
    background-color: "#fd26ad";
    width: 10vw;
    height: 10vh;
}

.for-sale:hover{
    cursor: pointer;
}
.sales-button:hover {
    background-color: "#e4229c"
}
.sales-button:focus {
background-color: "#e4229c"
}

.sales{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stack {
    width: 50%;
    height: auto;
}

.stack:hover, header >h1:hover {
    cursor: pointer;
}
.big {
    width: 100%;
    height: auto;  
}

.medium{
    width: 50%;
    height: auto;
}

.shape{
    height: 80vh;
}

.stackImage {
    display: block;
    margin: 5px;
    width: 25%;
    height: auto;
}

.big-pics{
    width: 100%;
    display: flex;
    justify-content: center;
}

.stack1{
    display: flex;
    justify-content: space-between;
}
.stack2{
    display: flex;
    justify-content: space-between;
}

.likes > div {
    width: 30vw;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.088);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.space2 {
    height: 50vh;
}

.interests {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    font-family: 'Handlee', cursive;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.blue {
    height: 20vh;
    background-color: #62CCFF;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rowOne,
.rowTwo {
    display: flex;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 6vh;
    background-color: rgba(255, 255, 255, 0.098);
    color: white;
}

.footerNav {
    margin-right: 2vw;
}
.items, .gif {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items>img {
    width: 10vw;
    padding: 32px;
}

.gif>img {
    width: 15vw;
}

a>img {
    width: 2.25vw;
    margin: 10px;
}

h1 {
    font-size: 1.5em;
}

.two,
.five {
    margin-left: 3vw;
    margin-right: 3vw;
}

.four {
    padding-left: 3vw;
}

div>p {
    padding: 0px;
    margin: 0px;
}

.contact>h2 {
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 1450px){
   .sale-item{
    margin-top: 5vh;
    margin-bottom: 5vh;
   }
   .top-sale{
    margin-top: 20vh;
   }
    .sales{
        margin-bottom: 10vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

}

@media only screen and (max-width: 1039px){
    footer{
        height: 10vh;
    }
    a>img {
        width: 4vw;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    header {
        height: 10vh;
    }
    .big{
        margin-top: 10vh;
        ;
    }
    .intro {
        background: none;
        background-color: black;
        align-items: center;
        height: 85vh;
    }
    .stack {
        width: 100%;
        height: auto;
    }
    .big-pics {
        display: flex;
        flex-direction: column-reverse;
    }
    .shape{
        width: 10%;
        height: auto;
    }
    
    .introInfo{
    background-color: rgba(0, 0, 0, 0.001);
    width: 95%;
    color: white;
    padding: 0;
    }
    h3 > span {
        color: white;
    }
    
    .projects {
        flex-direction: column;
        align-items: center;
    }
    .projectRight, 
    .projectLeft{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .projectPitch{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.pitch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience{
    width: 50vw;
    background-color: (255, 255, 255, 0.088);
}

.interests{
    flex-direction: column;
    justify-content: space-around;
    height: 200vh;
}
.likes > div{
    width: 50vw;
}

    a > .img {
        width: 30vw;
        padding: 0;
        margin: 0;
    }
 
    .button {
        margin: 0;
        background-color: white;
    }
    .top>img {
        width: 9vw;
    }
    a>img {
        width: 6vw;
        margin: 10px;
    }
    footer {
        height: 10vh;
    }
    .footerNav {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 570px) {
    nav {
        display: flex;
        font-size: .75em;
        justify-content: space-around;
    }
    nav > a {
        margin-right: 5px;
    }

    .projects {
        flex-direction: column;
        width: 100vw;
    }

 
    .button {
        margin: 0;
        background-color: white;
        width: 40vw;
    }
}

@media only screen and (max-width: 450px) {
        header > h1{
        margin: 10px;
        font-size: .75em;
    }
    .projectRight, .projectLeft{
        height: 110vh;
    }
    .two,
    .five {
        margin-left: 0;
        margin-right: 0;
    }
    .four {
        padding-left: 0;
    }
    .interests {
        height: 200vh;
    }
    .rowOne {
        flex-direction: column;
    }
    .rowTwo {
        flex-direction: column;
    }
    .items,
    .gif {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .items > img {
        width: 30vw;
        padding: 26px;
    }
    .gif > img {
        width: 35vw;
    }
    a > img {
        width: 10vw;
        margin: 10px;
    }
    a > .img {
        width: 50vw;

    }
    footer {
        height: 8vh;
    }
    .footerNav {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .projectRightOne, .projectLeftOne {
        height: 150vh;
    }
    nav {
        display: flex;
        font-size: .75em;
        justify-content: space-around;
    }
    nav > a {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1300px) {
    .introInfo{
     height: 36vh;
    }
 }

 @media only screen and (max-width: 1200px) {
    .introInfo{
     height: 42vh;
    }
 }

@media only screen and (max-width: 1100px) {
   .introInfo{
    height: 45vh;
   }
}

@media only screen and (max-width: 1000px) {
    .introInfo{
     height: 45vh;
    }
 }
 @media only screen and (max-width: 355px) {
    header > h1{
        margin: 5px;
        font-size: .75em;
    }
}
@media only screen and (max-width: 330px) {
    header > h1{
        margin: 5px;
        font-size: .75em;
    }
    header {
        font-size: .75em;
        width: 100vw;
    }
    .introInfo {
        padding-top: 25px;
        font-size: .75em;
        margin: 0;
    }
    .footerNav{
        margin: 0;
    }
    *{
        margin: 0;
        padding: 0;
    }
}

/* BUTTONS */
* {
    margin: 0;
    padding: 0;
  }
  html,
  css {
    width: 100%;
    height: 100%;
  }
  .position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
  }
  #workarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e1a3e;
    font-family: Raleway;
  }
  #personal {
    color:white;
    text-decoration:none;
    position:absolute;
    bottom:15px;
    right:2%;
  }
  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  #text {
    margin-top: -35px;
    text-align: center;
  }
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }
  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
  }
  /* In View Animation */
  .animation-element {
    opacity: 0;
    position: relative;
  }
  
  .animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  
  .animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
   
  .animation-element.slide-right {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
  }
  
  .animation-element.slide-right.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  } 